// This is the top-level scss file. Import all other files in here.

// val suggested this yellow color.
$goodyellow: #FD8F04;
$goodgrey: #546e7a;
$darkgoodgrey: #181f22;
$nothergoodgrey: #90a4ae;
// milind's experiementation - > #181f22
// this was the previous dark good grey #37474f;
// this was previous yellow
$lighteryellow: #FFD074;
@import 'home';
@import 'currentLocation';
@import 'login';
