// This is the top-level scss file. Import all other files in here.

// val suggested this yellow color.
$goodyellow: #FD8F04;
$goodgrey: #546e7a;
$darkgoodgrey: #37474f;
$nothergoodgrey: #90a4ae;

// this was previous yellow
$lighteryellow: #FFD074;
@import 'home';
@import 'currentLocation'
