body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


h1 {
  color: tomato;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.select{
    overflow-y: auto !important;
}