body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  color: tomato;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.select{
    overflow-y: auto !important;
}

.marker {
  cursor: pointer;
}

#sidenav_0 {
  background-color: #546e7a;
}

.confirmbtns {
  position: absolute;
  bottom: 5px;
  right: 0;

  a {
    margin: 2px;
  }
}

.markercount {
  color: $goodyellow;
  margin: 0px;
  font-size: 30px;
}

.gm-style div div div {
  border-radius: 10px;
}

.gm-style div div {
  border-radius: 10px;
}

.gm-style-iw {
  background-color: $nothergoodgrey;
  padding: 5px;
  border-radius: 10px;
}

#iw-container {
  margin-bottom: 10px;
  width: 150px;
  height: 230px;
  text-align: center;
  overflow-wrap: break-word;

  .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    max-height: 70px;
    background-color: $darkgoodgrey;
    color: $goodyellow;
    border-radius: 20px;
    overflow-x: hidden;
  }

  .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }

}






